.composition {
    margin-top: 8rem;
    position: relative;

    .picture {
        position: absolute;
        width: 50%;
        box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, .5);
        transition: all .15s ease-out;
        z-index: 1000;

        &:hover {
            transform: scale(1.3);
            z-index: 1001;
        }

        &--1 {
            left: 0;
            top: 0rem;
        }
        &--2 {
            left: 30rem;
            top: 4rem;
        }
        &--3 {
            left: 16rem;
            top: 10rem;
        }
    }
}