.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &:target {
        opacity: 1;
        visibility: visible;
    }
    &:target &__content {
        transform: translate(-50%, -50%) scale(1);
    }
    &__content {
        background-color: white;
        width: 70%;
        height: 49.4rem;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%) scale(.5);
        display: table;
        transition: all .2s;
    }
    
    &__left {
        // border: solid red;
        width: 33.333333%;
        display: table-cell;
    }
    
    &__right {
        // border: red solid;
        width: 61%;
        display: table-cell;
        vertical-align: middle;
        padding: 5rem;
    }

    &__img {
        width: 100%;
        display: block;
        // height: 100%;
    }

    &__text {
        column-count: 2;
        column-gap: 4rem;
    }

    &__close {
        display: inline;
        // border: solid red;
        // height: 3rem;
        position: absolute;
        right: 3rem;
        top: 3rem;
        text-align: center;
        font-size: 3rem;
        text-decoration: none;

    }

    .heading-tertiary {
        text-align: center;
        margin-bottom: 5rem;
    }

}