// MARGIN
.margin-bottom-small { margin-bottom: 4rem; }
.margin-bottom-big { margin-bottom: 8rem; }

// TEXT
.text-dark { color: $color-dark-secondary; }
.hidden { visibility: hidden; }

// COLOR
$color-grey-light-1: #888;