// COLOR
// https://www.color-hex.com/color/d3d3d3
$color-dark-primary: #151515;
$color-dark-secondary: #2a2a2a;
$color-grey-light: #d3d3d3;
$color-grey-light-2: #a8a8a8;

// GRID
$grid-margin-right: 8rem;