@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Kanit&display=swap");
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.heading-secondary {
  color: gray;
  text-align: center;
  font-size: 5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.heading-tertiary {
  font-size: 2rem;
  margin: .5rem 0;
  color: #a8a8a8;
}

.paragraph {
  font-size: 1.5rem;
}

.margin-bottom-small {
  margin-bottom: 4rem;
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.text-dark {
  color: #2a2a2a;
}

.hidden {
  visibility: hidden;
}

.btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: black;
  text-decoration: none;
  /* border-radius: 20rem; */
  padding: 1.2rem 4.5rem;
  margin-top: 4rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--white {
  background-color: white;
}

.btn--white::after {
  background-color: white;
}

.btn--green {
  background-color: rgba(51, 51, 51, 0.822);
  color: white !important;
}

.btn--green:hover {
  color: orangered !important;
}

.btn--animated {
  -webkit-animation: moveInBottom .75s ease-out;
          animation: moveInBottom .75s ease-out;
}

.btn:hover {
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5);
}

.btn::after {
  content: "";
  /* border: 0.1rem solid red; */
  z-index: -1;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* font-size: 3rem; */
  -webkit-transition: all .35s ease-out;
  transition: all .35s ease-out;
}

.composition {
  margin-top: 8rem;
  position: relative;
}

.composition .picture {
  position: absolute;
  width: 50%;
  -webkit-box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  z-index: 1000;
}

.composition .picture:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 1001;
}

.composition .picture--1 {
  left: 0;
  top: 0rem;
}

.composition .picture--2 {
  left: 30rem;
  top: 4rem;
}

.composition .picture--3 {
  width: 30rem;
  height: 17rem;
  left: 14rem;
  top: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.feature-box {
  height: 40vh;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.feature-box:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.feature-box__picture {
  height: 15rem;
  background-size: cover;
}

.feature-box__picture--1 {
  background-image: url(/images/feature_01.jpg);
  background-size: 140%;
  background-position-y: -3rem;
}

.feature-box__picture--2 {
  background-image: url(/images/feature_02.JPG);
}

.feature-box__picture--3 {
  background-image: url(/images/feature_03.JPG);
}

.feature-box__picture--4 {
  background-image: url(/images/feature_04.JPG);
}

.feature-box .heading-tertiary {
  padding: 0 1rem;
  color: #2a2a2a;
  font-weight: 500;
}

.feature-box .heading-tertiary ~ .paragraph {
  padding: 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
  height: 50rem;
  position: relative;
  perspective: 90rem;
  -webkit-perspective: 90rem;
}

.card__side {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all .8s;
  transition: all .8s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card__side--front {
  background-color: rgba(255, 255, 255, 0.9);
}

.card__side--back {
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-size: cover;
}

.card__side--back--1 {
  background-image: url(/images/offworld_01_back.jpg);
}

.card__side--back--2 {
  background-image: url(/images/offworld_02_back.jpg);
}

.card__side--back--3 {
  background-image: url(/images/offworld_03_back.jpg);
  background-position-x: -35rem;
}

.card__side__picture {
  height: 25vh;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__side__picture--1 {
  background-image: url(/images/offworld_01.jpg);
}

.card__side__picture--2 {
  background-image: url(/images/offworld_02.jpg);
  background-position-y: -4rem;
}

.card__side__picture--3 {
  background-image: url(/images/offworld_03.jpg);
}

.card__side__title {
  font-size: 3rem;
  position: absolute;
  text-align: center;
  color: white;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.card__side__title--1 {
  margin-top: -4rem;
  right: 1rem;
  width: 60%;
  background-image: linear-gradient(105deg, rgba(136, 0, 226, 0.534), rgba(65, 0, 168, 0.726));
}

.card__side__title--2 {
  margin-top: -4rem;
  right: 1rem;
  width: 60%;
  background-image: linear-gradient(105deg, rgba(0, 61, 230, 0.712), rgba(0, 45, 168, 0.726));
}

.card__side__title--3 {
  margin-top: -4rem;
  right: 1rem;
  width: 60%;
  background-image: linear-gradient(105deg, rgba(136, 0, 226, 0.534), rgba(65, 0, 168, 0.726));
}

.card__side > ul {
  margin-top: 5rem;
  list-style: none;
  text-align: center;
  padding: 0;
  font-size: 2.5rem;
}

.card__side > ul > li {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid gray;
}

.card__side > ul > li:not(:last-child) {
  margin-bottom: 3rem;
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 20rem rgba(255, 165, 0, 0.7);
          box-shadow: 0 3rem 20rem rgba(255, 165, 0, 0.7);
  background-color: rgba(255, 165, 0, 0.8);
  color: white;
  padding: 4rem;
  padding-left: 9rem;
  font-size: 16px;
  position: relative;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  margin-bottom: 6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  background-color: white;
  shape-outside: circle(40% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  opacity: .8;
}

.story__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.story .heading-tertiary {
  color: rgba(0, 0, 0, 0.6);
}

.story:hover {
  background-color: #ff8800;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-video__content {
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.popup__content {
  background-color: white;
  width: 70%;
  height: 49.4rem;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  display: table;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.popup__left {
  width: 33.333333%;
  display: table-cell;
}

.popup__right {
  width: 61%;
  display: table-cell;
  vertical-align: middle;
  padding: 5rem;
}

.popup__img {
  width: 100%;
  display: block;
}

.popup__text {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.popup__close {
  display: inline;
  position: absolute;
  right: 3rem;
  top: 3rem;
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
}

.popup .heading-tertiary {
  text-align: center;
  margin-bottom: 5rem;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  min-height: 100%;
}

html {
  font-size: 10px;
  background-color: #151515;
}

body {
  padding: 0;
  margin: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  min-height: 100%;
}

.row {
  color: grey;
  width: 70%;
  margin: 0 auto;
  display: table;
  clear: both;
}

.row [class^='col-'] {
  float: left;
}

.row [class^='col-']:not(:last-child) {
  margin-right: 8rem;
}

.row .col-1-of-2 {
  width: calc((100% - 8rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4);
}

.header {
  height: 95vh;
  /* border: solid red; */
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 71, 255, 0.493)), to(rgba(0, 0, 218, 0.562))), url(/images/Nightcity2077.png);
  background-image: linear-gradient(to right bottom, rgba(255, 71, 255, 0.493), rgba(0, 0, 218, 0.562)), url(/images/Nightcity2077.png);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 700px, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 700px, 0 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__container {
  background-color: #2a2a2a;
}

.header__text-box {
  /* border: solid red; */
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  color: white;
  text-align: center;
}

.header__text-box .heading-primary {
  /* border: solid red; */
  font-weight: 400;
  margin-bottom: 4rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.header__text-box .heading-primary--main {
  /* border: solid red; */
  display: block;
  font-size: 12rem;
  letter-spacing: 2rem;
  line-height: 10rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.header__text-box .heading-primary--sub {
  display: block;
  font-size: 3rem;
  /* border: solid red; */
  margin-top: 1rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}

.section-about {
  padding-top: .1px;
  height: 70vh;
  background-color: #2a2a2a;
}

.section-feature {
  height: 80vh;
  background-image: url(/images/feature_bg.jpg);
  background-size: cover;
  background-position-y: -6rem;
  background-repeat: no-repeat;
  padding: 2rem 0;
  -webkit-transform: skewY(-6deg);
          transform: skewY(-6deg);
}

.section-feature > * {
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}

.section-feature__container {
  background-color: #2a2a2a;
}

.section-tour {
  height: 90vh;
  padding-top: .1px;
  background-color: #2a2a2a;
}

.section-stories {
  padding: 15rem 0;
  padding-top: .1px;
  background-color: #2a2a2a;
  position: relative;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */